<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="field">
      <div>
        <h1 class="title" style="margin: 0;">技術統括本部/エンジニア-座席表</h1>
      </div>
      <app-drag-and-drop></app-drag-and-drop>
      <!-- <div class="field-box">
    <div class="field-child-box">
      <div class="SC">
        <h2>脆弱性診断</h2>
      <div class="seat-feild"></div>
      </div>
      <div class="SD">
        <h2>サービスデスク</h2>
      </div>
    </div>
  </div> -->
    </div>
  </body>
</html>
